body {
    background-color: #eaeaea;
  
}

header {
    max-width: 17%;
        float: left;
}
.clearfix{
    clear: both;
    display: table;
}
.content{
    clear: both;
}
.menu-navigation {
    width: 100%;
    margin: 70px 20px 0 0;
    padding: 0;
}

.menu-unlock {
    display: none;
}

.menu-name {
    background-color: white;
    list-style: none;
    text-decoration: none;
    margin-bottom: 3px;
}

.menu-navigation > li {}

.menu-navigation > li:nth-child(1) {
    border-radius: 5px 5px 0 0;
}

.menu-navigation > li:nth-last-child(1) {
    border-radius: 0 0 5px 5px;
}

.menu-navigation > li > a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 15px;
    display: block;
    font-weight: bold;
}




.transformRotate {
    transform: rotate(90deg);
}

.menu-name-arrow {
    float: right;
}

.menu-slide {
    max-width: 100%;
    margin-left: 0;
    padding: 0px;
}

.displayNone {
    display: none;
}

.menu-slide li {
    background-color: #848c8f;
    color: white;
    list-style: none;
    padding: 10px 0 10px 15px;
}

.menu-slide li a {
    text-decoration: none;
    color: #c5cdd0;
}

.menu-colors,
.menu-size,
.menu-price {
    background-color: white;
    text-transform: uppercase;
    width: 100%;
    margin: 30px 0 0 0;
    border-radius: 5px;
}

.menu-colors p,
.menu-size p,
.menu-price p {
    padding: 15px;
    position: relative;
}

.menu-colors p:after {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #eaeaea;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.pick-colors {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
}

.pick-colors-row {
    display: block;
}
.pick-colors-item{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    opacity: .7;
}

.pick-colors-item:hover {
    opacity: 1;
    cursor: pointer;
}

.pick-colors-active {
    opacity: 1;
    cursor: pointer;
}

.pick-colors-green {
    background-color: #7dda8a;
}

.pick-colors-blue {
    background-color: #0f77fa;
}

.pick-colors-orange {
    background-color: #ce9552;
}

.pick-colors-black {
    background-color: #000000;
}

.pick-colors-white {
    background-color: #eeeeee;
}

.pick-colors-gray {
    background-color: #848c8f;
}

.pick-colors-lightgray {
    background-color: #b8c6c7;
}

.pick-colors-darkgray {
    background-color: #777777;
}

.pick-colors-warmgray {
    background-color: #bdbdbd;
}

.pick-colors-blueberry {
    background-color: #798090;
}

.menu-size p:after {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #eaeaea;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.pick-size-item {
    display: inline-block;
    background-color: #f6f6f6;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    text-align: center;
}

.pick-size {
    text-align: center;
    padding-bottom: 10px;
}

.pick-size-item:hover {
    background-color: #848c8e;
    cursor: pointer;
}

.pick-size-item:hover span {
    color: white;
}

.pick-size-active {
    background-color: #848c8e;
    cursor: pointer;
}

.pick-size-active-span {
   color: white; 
}




.pick-size-item span {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 18%;
}

.menu-price p:after {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #eaeaea;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.pick-price {
    margin: 30px 0;
}

.pick-price input[type=text] {
    background-color: white;
    border: none;
    display: inline-block;
    width: 20%;
    margin: 10px;
}
#amount{
    float: left;
}
#amount_1{
    float: right;
}



#slider-range {
    height: 1px;
    width: 80%;
    background-color: #ededed;
    margin: auto;
}

#slider-range div {
    background-color: #757575;
}

#slider-range span {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    border: 1px solid #757575;
    background-color: #757575;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}


/* support: IE8 - See #6727 */

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.5em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}




.items {
    max-width: 83%;
        float: left;
    margin-top: 70px;

}

.items .wrapper {
    background-color: transparent;
    clear: both;
    display: block;
    padding-left: 1rem;
}

.items .row {
    display: block;
    max-width: 100%;
}
.item {
    display: block;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 23.3%;
    padding: 0 2.5rem;
    float: left;
}
.item:nth-child(3n+2){
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.item img{
    display: block;
    margin: auto;
    padding-top: 15px;
    max-width: 100%;
    }

.items .item-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.items .item-name-2 {
    font-style: italic;
    color: #ccccce;
    text-align: center;
}

.items .item-price {
    text-align: center;
    font-weight: bold;
}

.items input[type="button"] {
    display: block;
    background-color: #b8c6c7;
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    
    border: 0;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
   }

@media (min-width: 1100px) {
    body {
          overflow-x: scroll;
    }
    .content{
        width: 1100px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    @media (max-width: 1100px) {
      .item {
        width: 22%;
       
    }  
    }
}


@media (max-width: 992px) {
    body {
        overflow: scroll;
    }
    .menu-unlock {
        display: block;
        padding: 50px 0 0 10px;
        width: 30px;
        height: auto;
    }
    .menu-unlock button {
        border: none;
        background-color: #eaeaea;
    }
    .menu-unlock button:hover {
        border: none;
    }
    header {
        z-index: 999999999;
        position: absolute;
    }
    .navigation {
        background-color: #eaeaea;
        border: 1px solid #eaeaea;
        margin-left: 10px;
        width: 100%;
        margin-top: -4px;
        border-radius: 5px;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    }
    .menu-navigation {
        width: 100%;
        margin: 5px 20px 0 -3px;
        padding: 0;
    }
    .menu-navigation li a {
        font-size: 10px;
    }
    .menu-colors,
    .menu-size,
    .menu-price {
        margin: 10px 0 0 -3px;
    }
    .menu-colors p,
    .menu-size p,
    .menu-price p {
        font-size: 10px;
    }
    .pick-colors-item {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
   
    .pick-size-item {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
    .pick-size-item span {
        font-size: 10px;
    }
    .items {
        width: 100%;
        margin-left: 30px;
    }
    .items .wrapper {
        background-color: transparent;
        clear: both;
        margin-left: 0;
        padding: 0 1rem; 
        text-align: center;
    }

    .items .row {
        display: block;
        max-width: 100%;
         
    }
    .item {
        width: 20%;
    }
  
    .items input[type="button"] {
        margin: auto;
        width: 100%;
    }
    .pick-price input[type=text] {
        font-size: 10px;
    }
    
}















